* {
  font-family: 'Big Shoulders Stencil Display', cursive;
}

body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;

  font-family: 'Big Shoulders Stencil Display', cursive;
}

.main {
  display: flex;
  width: 600px;
  height: 600px;

  padding: 25px 40px 0 40px;

  border-radius: 5px;
  background-color: #e5e5e5;

  &__playground {
    position: relative;
    width: 400px;
    height: 100%;
  }

  &__canvas {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }

  &__background {
    width: 100%;
    height: 100%;
  }

  &__display {
    width: 200px;
    height: 100%;
    padding: 15px;

    box-sizing: border-box;
  }

  &__start-button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    outline: none;

    background-color: lightpink;

    transition: all ease-in-out 600ms;

    cursor: pointer;

    &:hover {
      background-color: lightskyblue;
    }
  }

  &__info {
    padding-bottom: 15px;
  }
  &__heading {
    font-size: 30px;
    color: #050505;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 25px;
    color: #8d8888;
  }

  &__menu {

  }
}

.hide {
  display: none;
}
